<%= form_with(model: contact) do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <% if contact.errors[:name].any? %>
      <div style="color: red">
        <%= "Name #{contact.errors[:name].first}" %>
      </div>
    <% end %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <% if contact.errors[:phone_number].any? %>
      <div style="color: red">
        <%= "Phone number #{contact.errors[:phone_number].first}" %>
      </div>
    <% end %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <% if contact.errors[:email].any? %>
      <div style="color: red">
        <%= "Email #{contact.errors[:email].first}" %>
      </div>
    <% end %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
